<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>table10</title>
        <style>
            table{
                width: 100%;
                height: 100vh;
            }
            table , th , td{
                border: 2px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th colspan="2" bgcolor="#fdac53" height="40px">Header</th>
            </tr>
            <tr>
                <th colspan="2" bgcolor="#9bb7d4" height="40px">Path</th>
            </tr>
            <tr>
                <td height="220px" bgcolor="#cd212a" width="750px">
                    <center><b>Content</b></center>
                </td>
                <td bgcolor="#cd212a">
                    <center><b>Content</b></center>
                </td>
            </tr>
            <tr>
                <td height="220px" bgcolor="#cd212a" width="750px">
                    <center><b>Content</b></center>
                </td>
                <td bgcolor="#cd212a">
                    <center><b>Content</b></center>
                </td>
            </tr>
        </table>
    </body>
</html>