$bc-color:red;
$bc-color1:pink;
$bc-color2:yellow;
$bc-color3:blue;
$bc-color4:purple;
$bc-color5:aqua;
$bc-color6:skyblue;
$bc-color7:brown;
$bc-color8:gray;
$bc-color9:rgb(11, 227, 79);
$bc-color9:rgba(83, 244, 2, 0.14);