$color:red;
$color1:pink;
$color2:yellow;
$color3:blue;
$color4:purple;
$color5:aqua;
$color6:skyblue;
$color7:brown;
$color8:gray;
$color9:rgb(11, 227, 79);
$color9:rgba(83, 244, 2, 0.14);
$color10:rgba(244, 175, 2, 0.911);
$color11:rgba(223, 80, 28, 0.926);