$bc-color:red;
$bc-color1:pink;
$bc-color2:yellow;
$bc-color3:blue;
$bc-color4:purple;
$bc-color5:aqua;
$bc-color6:skyblue;
$bc-color7:brown;
$bc-color8:gray;
$bc-color9:rgb(11, 227, 79);
$bc-color9:rgba(83, 244, 2, 0.14);


$t-color:red;
$t-color1:pink;
$t-color2:yellow;
$t-color3:blue;
$t-color4:purple;
$t-color5:aqua;
$t-color6:skyblue;
$t-color7:brown;
$t-color8:gray;
$t-color9:rgb(11, 227, 79);
$t-color9:rgba(83, 244, 2, 0.14);
$t-color10:rgba(244, 175, 2, 0.911);
$t-color11:rgba(223, 80, 28, 0.926);
$t-color12:orange;